header{
    background: url("../../images/bg-pattern-intro-desktop.svg");
    background-color: #ff7066;
    background-size: 116%;
    background-repeat: no-repeat;
    background-position: 140px;
    padding: 2em 0 5em 0;
    border-radius: 0px 0px 0px 120px;
}
header menu .logo, header menu .authentificaiton, header menu .navigation{
    position: relative;
    height: 60px;
}
header button{
    cursor: pointer;
    background: none;
    color: white;
    padding: 10px 26px;
    border: 1px white solid;
    border-radius: 100px;
    transition-property: all;
    transition-duration:.4s;
}

header button:first-child{
    background-color: white;
    color: black;
    
}
header button:first-child:hover{
    background-color: #ff7c86;
    border-color: #ff7c86;
    color:white;
}
.menu-mobile{
    display:none;
}

header button:nth-child(2):hover{
    background-color: #fff;
    border-color: #fff;
    color:#ff7c86;
}

header ul li{
    position: relative;
    display:inline-block;
    vertical-align: top;
    margin-right: 25px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
header h1{
    text-align: center;
    text-align: center;
    font-size: 3em;
    margin: 2em auto 0.3em auto;
    color: white;
} 
header p{
    text-align: center;
    color: white;
    font-weight: 200;
    margin-bottom: 4em;
}
header .CTA-actions {
    text-align: center;
}
header ul li a{
    color: white;
    text-decoration: none;
}
header menu .authentificaiton{
    text-align: right;
}
header menu .authentificaiton li:last-child a{
    padding: 10px 30px;
    border-radius: 40px;
    border: 1px white solid;
    background-color: white;
    color: black;
    transition-property: all;
    transition-duration: .4s;
}

header menu .authentificaiton li:last-child a:hover{
    background-color: #ff7c86;
    border-color: #ff7c86;
    color:white;
}
header .menu-icon{
    float: right;
    display: none;
}
header .sublist{
    position: absolute;
    background: #ffffff;
    color: black;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100px;
    box-shadow: 0px 2px 5px -2px black;
}

header .sublist li{
    display: block;
    top: 0;
    transform: translateY(0);
    font-size: 13px;
    font-weight: 100;
    margin-bottom: 5px;
}
header .sublist li a{
    color:black;
}
header .sublist li a:hover{
    font-weight: bold;
}
header .undisplay{
    display: none;
}

h3{
    font-size: 1.5em;
    color:#444a74;
    font-weight:500;
    margin-bottom: 1.3em;
}
section{
    margin: 2.5em 0;
}
section p{
    margin-bottom: 4.5em;
}
section.feature_1 {
    background: url("../../images/illustration-editor-desktop.svg");
    background-position-x: calc(100% - -70px);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-y: center;
}

section.feature_1 h2{
    text-align: center;
    color: #3a3e60;
    font-weight: 600;
    margin-top: 2em;
    margin-bottom: 2em;
}

section.feature_2 {
    position: relative;
    background: url(../../images/bg-pattern-circles.svg) 0px 10px, linear-gradient(to right, #3a3b59, #3b3c5b, #3c3d5d, #3d3f5f, #3E4061);
    background-repeat: no-repeat;
    border-radius: 0px 200px 0 200px;
    background-size: 600px, 100%;
    padding: 4em 2em;
    margin:6em 0;
}

section.feature_2 img{
vertical-align: middle;
position: absolute;
top: -90px;
width: 40%;
}

section.feature_2 h2{
    color: white;
    margin-bottom: 1.5em;
}

section.feature_2 p{
    color: #bfbfc7;
}
section.feature_3 {
    background: url("../../images/illustration-laptop-desktop.svg");
    background-position-x: 0;
    background-size: 40%;
    background-repeat: no-repeat;
    padding: 28px;
    background-position-y: center;
}

footer{
    background-color: #24252c;
    padding: 2.2em 0;
    border-radius: 0 120px 0 0;
}

footer h4{
    color: #fff;
    margin-bottom: 15px;
}
footer ul{
    list-style: none;
    font-size: 14px;
}
footer ul li{
    text-decoration: none;
    line-height: 1.5em;
    margin-bottom: 5px;
}
footer ul li a{
    color: #bfbfc7;
    text-decoration: none;
}

footer ul li a:hover{
    text-decoration: underline;
}

@media screen and (max-width:719px) {
    footer{
        text-align: center;
    }

    section.feature_3 {
        height: auto;
        background-position-x: center;
        background-size: 90%;
        background-repeat: no-repeat;
        padding: 28px;
        background-position-y: top;
        padding-top: 22em;
        text-align: center;
    }

    section.feature_2 {
        position: relative;
        background: url(../../images/bg-pattern-circles.svg) 10px -195px, linear-gradient(to right, #3a3b59, #3b3c5b, #3c3d5d, #3d3f5f, #3E4061);
        background-repeat: no-repeat;
        border-radius: 0px 200px 0 200px;
        background-size: 600px, 100%;
        padding: 6em 2em;
        margin: 6em 0;
    }

    section.feature_2 img {
        vertical-align: middle;
        position: absolute;
        top: -115px;
        width: 40%;
        margin: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    section.feature_1 {
        background: url(../../images/illustration-editor-desktop.svg);
        background-position-x: center;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position-y: top;
        padding-top: 14em;
        text-align: center;
    }
    header .menu-icon{
        display: inline-block;
    }
    .menu-mobile{
        display:block;
    background-color: white;
    position: absolute;
    width: 96%;
    top: 6em;
    margin: 1.5% 2%;
    border-radius: 5px;
    box-shadow: 0px 0px 8px -2px black;
    }

    .menu-mobile li.signup{
    width: 60%;
    margin: auto;
    background: linear-gradient(88deg, #ff7066, #ff4a59);
    border-radius: 100px;
    }
    .menu-mobile li.signup a{
        color: white;
    }

    header ul li {
        position: relative;
        display: block;
        vertical-align: top;
        position: relative;
        text-align: center;
        margin:0;
        margin-bottom: 10px;
    }
    header ul li a{
        color:black;
    }
    header menu .logo, header menu .authentificaiton, header menu .navigation{
        height:auto;
    }
    header .sublist{
        position:relative;
    }
    .navigation, .authentificaiton{
        display:none;
    }
    .mainmenu li{
        width:100%;
        text-align: center;
    }
    .navigation2{
        padding: 30px;
    }
    .navigation2 ul{
        list-style: none;
    }
    .navigation2 .undisplayMob{
        display:none;
    }
    .navigation2 li a{
        display:block;
        width: 100%;
        padding:10px;
        text-decoration: none;
        color:#6c709b;
        font-weight: 500;
    }
    .navigation2 .devider {
        border-bottom: 1px #f7f6f6 solid;
        margin: 15px auto;
        width: 70%;
    }
    .submenu{
        background: #f1f1f1;
    padding: 1em;
    font-size: 13px;
    }
}


